body {
  font-family: 'Inconsolata', monospace;
  background-color: #282A36;
  color: #f8f8f2!important;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "navbar main"
}
nav{
  grid-area: navbar;
  background-color: #434356;
  align-self: start;
}
footer{
  grid-area: navbar;
  background-color: #434356;
  align-self: end;
}
main{
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "reddit history history git"
                        "reddit clock clock git"
}
a {
  text-decoration: none;
}
.reddit{
  grid-area: reddit;
}
.history{
  grid-area: history;
}
.github{
  grid-area: git;
}
.clock{
  grid-area:clock;
}
.link-to-comments{
  text-decoration: underline;
}
